-#  Copyright (c) 2026, Schweizer Blasmusikverband. This file is part of
-#  hitobito_sbv and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sbv.

- grouped_instruments = entry.mitglied_roles_with_instrument.group_by(&:group).sort_by { |group, _| group.lft }
- if grouped_instruments.any?
  %section.instruments
    %h2<
      = Role.human_attribute_name(:instrument)

    %table.table.table-basic
      %tbody
        - grouped_instruments.each do |group, roles|
          %tr
            %td
            %td
              %strong= GroupDecorator.new(group).link_with_layer
              %br/
              %table.roles
                %tbody
                  - roles.each do |role|
                    %tr
                      %td= role.instrument_label
                      %td= link_action_edit(edit_group_role_path(role.group, role)) if can?(:edit, role)
                      %td
                        - if can?(:edit, role)
                          = link_to icon(:"trash-alt", filled: false),
                                    group_role_instrument_path(role.group, role),
                                    class: "action",
                                    title: t(".remove_instrument"),
                                    alt: t(".remove_instrument"),
                                    data: { confirm: t(".confirm_remove_instrument"), method: :delete, remote: true }
            %td
