- if can?(:create_history_member, @group)
  %br
  .accordion
    %a.btn.btn-small.accordion-toggle.collapsed.header{ href: "#new_role", data: { toggle: :collapse } }
      = t('.new_role')


    .accordion-body.collapse{ id: 'new_role' }
      .accordion-inner{ style: 'height: 450px; border: 0px'}
        %fieldset
          %legend
          = standard_form(Role.new, url: group_history_roles_path(@group), remote: true) do |f|
            .span6
              = f.hidden_field(:person_id, value: @person.id)

              = swappable_group_add_fieldset(:create_deleted_verein, :select_existing_verein) do
                = f.labeled(:verein, t('.verein')) do
                  = f.select(:group_id, mitglieder_group_as_select_options, {prompt: I18n.t('helpers.select.prompt') }, { class: 'chosen-select absolute'  })
                = f.labeled_input_field(:label,
                                        data: { provide: :typeahead, source: Role.available_labels },
                                        help: t('roles.fields.help_optional_label'))

              = swappable_group_add_fieldset(:select_existing_verein, :create_deleted_verein) do
                = f.fields_for(:group, Group.new) do |fields|
                  = fields.labeled_input_fields :name

              = field_set_tag  do
                = f.labeled(:start_date, t('.start_date')) do
                  = f.date_field(:created_at, name: 'role[start_date]', autocomplete: 'off')

                = f.labeled(:end_date, t('.end_date')) do
                  = f.date_field(:deleted_at, name: 'role[end_date]', autocomplete: 'off')

              = f.indented do
                = submit_button(f, t('.save'))
