- #  Copyright (c) 2012-2025, Schweizer Blasmusikverband. This file is part of
- #  hitobito_sbv and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sbv.

- if can?(:create_history_member, @group)
  %br
  .accordion
    %a.btn.btn-sm.btn-outline-primary.accordion-toggle.mb-3.collapsed.header{ href: "#new_role", data: { bs_toggle: :collapse } }
      = t('.new_role')


    .accordion-body.collapse{ id: 'new_role' }
      .accordion-inner
        %fieldset
          %legend
          = standard_form(Role.new, url: group_history_roles_path(@group)) do |f|
            .col-6
              = f.hidden_field(:person_id, value: @person.id)

              = swappable_group_add_fieldset(:create_deleted_verein, :select_existing_verein) do
                = f.labeled(:verein, t('.verein')) do
                  = f.group_field :group, search_params: { historic: true }
                = f.labeled_input_field(:label,
                                        data: { provide: :typeahead, source: Role.available_labels })

              = swappable_group_add_fieldset(:select_existing_verein, :create_deleted_verein) do
                = f.fields_for(:group, Group.new) do |fields|
                  = fields.labeled_input_fields :name

              = field_set_tag  do
                = f.labeled(:start_date, t('.start_date')) do
                  = f.date_field(:start_on, name: 'role[start_on]', autocomplete: 'off')

                = f.labeled(:end_date, t('.end_date')) do
                  = f.date_field(:end_on, name: 'role[end_on]', autocomplete: 'off')

              = f.indented do
                = submit_button(f, t('.save'))
