-#  Copyright (c) 2012-2018, Schweizer Blasmusikverband. This file is part of
-#  hitobito_sbv and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sbv.

= render_attrs(entry, *entry.used_attributes(:correspondence_language, :vereinssitz, :founding_year, :besetzung, :klasse, :unterhaltungsmusik))
= render_attrs(entry, *entry.used_attributes(:subventionen)) if can?(:show_details, @group)
= render_attrs(entry, *entry.used_attributes(:buv_lohnsumme, :nbuv_lohnsumme)) if can?(:show_uv_lohnsummen, @group)
= render_attrs(entry, *entry.used_attributes(:manually_counted_members))
= render_attrs(entry, *entry.used_attributes(:recognized_members)) do |attr|
  - entry.send(attr).present?

- if entry.is_a?(Group::Root)
  = render_attrs(entry, :hostname)
