-#  Copyright (c) 2012-2019, Schweizer Blasmusikverband. This file is part of
-#  hitobito_sbv and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sbv.

- if entry.is_a?(Group::Verein)
  = field_set_tag do
    = f.labeled_input_fields :vereinssitz
    = f.labeled_input_fields :founding_year
    = f.labeled_collection_select :correspondence_language, Settings.application.languages.to_hash, :first, :last
    = f.labeled_collection_select :besetzung, Group.besetzung_labels.to_a, :first, :last, include_blank: true
    = f.labeled_collection_select :klasse, Group.klasse_labels.to_a, :first, :last, include_blank: true
    = f.labeled_collection_select :unterhaltungsmusik, Group.unterhaltungsmusik_labels.to_a, :first, :last, include_blank: true

  = field_set_tag do
    = f.labeled_input_fields :subventionen

  - if can?(:edit_uv_lohnsummen, entry)
    = field_set_tag do
      = f.labeled_input_fields :buv_lohnsumme, :nbuv_lohnsumme

  = field_set_tag Group.human_attribute_name(:secondary_parent_groups) do
    = f.labeled_collection_select :secondary_parent_id, Group.secondary_parents, :id, :name, include_blank: true
    = f.labeled_collection_select :tertiary_parent_id, Group.secondary_parents, :id, :name, include_blank: true

- if entry.is_a?(Group::Root)
  = field_set_tag do
    = f.labeled_input_fields :hostname
