- entries.each do |concert|
  .concert-info
    %h2= concert.name
    %h3= concert.performed_at
    .actions
      = link_action_edit(edit_group_concert_path(parent, concert))
      = link_action_destroy(group_concert_path(parent, concert))

  = table(concert.song_counts, class: 'table table-striped table-hover') do |t|
    - t.col do |s|
      = "#{s.count}x"

    - t.attr(:title) do |s|
      = content_tag(:strong, link_to(s.song, s.song))

    - t.sortable_attrs(:composed_by, :arranged_by)
