- entries.each do |concert|
  .concert
    .concert-info
      %h2.h5
        = concert.name
        %span.muted= I18n.l(concert.performed_at) if concert.performed_at
        = link_action_edit(edit_group_concert_path(parent, concert))
        = link_action_destroy(group_concert_path(parent, concert))
      = content_tag(:small, t('global.last_change',
        date: I18n.localize(concert.updated_at, format: :date_time)))
    .concert-song-list
      - concert.song_counts.each do |song_count|
        .concert-song-item.row{style: "border-top: 1px solid #eee; padding: 0.5rem 0;"}
          .concert-song-count.col{style: "max-width: 2.5rem;"}
            = link_to("#{song_count.count}x", edit_group_concert_path(parent, concert, focus: song_count.id))
          .concert-song-description.col
            = song_count.song.decorate.full_label
