- mitgliederverbaende = @group.descendants.without_deleted.where(type: Group::Mitgliederverband).order(:name)
- regionalverbaende   = @group.descendants.without_deleted.where(type: Group::Regionalverband).order(:name)
- vereine             = @group.children.without_deleted.where(type: Group::Verein).order(:name)

- if mitgliederverbaende.any?
  %h2
    =t('activerecord.models.group/mitgliederverband.other')

  = table(mitgliederverbaende, class: 'table table-striped table-hover') do |t|
    - t.col do |verband|
      = link_to(verband.name, group_song_censuses_path(verband, year: year))

    - t.col do |verband|
      = t('.censuses_submitted', submitted: @total[:mitgliederverband][verband.id].to_a.size, total: verband.descendants.where(type: Group::Verein).size)

- if regionalverbaende.any?
  %h2
    =t('activerecord.models.group/regionalverband.other')

  = table(regionalverbaende, class: 'table table-striped table-hover') do |t|
    - t.col do |verband|
      = link_to(verband.name, group_song_censuses_path(verband, year: year))
    - t.col do |verband|
      = t('.censuses_submitted', submitted: @total[:regionalverband][verband.id].to_a.size, total: verband.descendants.where(type: Group::Verein).size)

- if vereine.any?
  %h2
    =t('activerecord.models.group/verein.other')

  = table(vereine, class: 'table table-striped table-hover') do |t|
    - t.col do |verein|
      = link_to(verein.name, group_song_censuses_path(verein, year: year))
    - t.col do |verein|
      = t(".#{@total[:verein][verein.id].presence || 'not_submitted'}")
