= render_present_attrs entry, :group_id
= render_present_attrs entry, :music_style
= render_present_attrs entry, :music_type, :music_level
= render_present_attrs entry, :preferred_play_day_1, :preferred_play_day_2
= render_present_attrs entry, :terms_accepted
