.row
  .col.no-wrap.count{style: "z-index: 10"}
    = song_counts_update_button(:dec)
    = f.input_field :count, min: 0, size: 2, max: 30,
                    class: 'auto-size text-right', 
                    style: 'width: unset', 
                    autofocus: (f.object.id == params[:focus].to_i)
    = song_counts_update_button(:inc)
  .col{style: "margin: 0;"}
    = f.label :count do
      = f.object.song.decorate.full_label if f.object.song
  .col-1
    = f.link_to_remove(icon(:times))

    = f.hidden_field :year, value: year
    = f.hidden_field :song_id, class: 'song_id'
